---
layout: default
---

<div class="posts">
    <article class="post">

      <h1>Templates</h1>

      <div class="entry">
       	<div>A selection of templates for use with OSC applications: </div>
	<ul>
          <li><a href="https://raw.githubusercontent.com/pingdynasty/OpenSoundModule/master/templates/TouchOSC/osm.touchosc">TouchOSC Controls</a></li>
          <li><a href="https://raw.githubusercontent.com/pingdynasty/OpenSoundModule/master/templates/Lemur/16step.jzml">Lemur 16 step sequencer</a></li>
	</ul>
	<div>See <a href="https://github.com/pingdynasty/OpenSoundModule/tree/master/templates">GitHub</a> for more up to date templates (when viewing a file on GitHub, select Raw then Save As to download).</div>
    </article>
</div>
